<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="shortcut icon" href="https://django-ninja.dev/img/favicon.png">
  <title>Django-Ninja</title>

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
  <section class="hero is-small is-primary">
  <div class="hero-body">
    <p class="title">
      Django-Ninja Tutorial
    </p>
    <p class="subtitle">
      <a href="http://localhost:8000/api/v1/docs">Clique aqui</a> para acessar a API.
    </p>
    <p><a href="https://github.com/rg3915/django-ninja-tutorial" target="_blank">Veja no Github.</a></p>
  </div>
</section>
</body>
</html>